In [66]:
import pandas as pd

In [67]:
data = pd.read_csv("Resources/election_data.csv")

In [68]:
data.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [69]:
#Total votes cast
total = (data["Voter ID"].count())
total

3521001

In [70]:
#Complete list of candidates
candidates = data["Candidate"].unique()
candidates

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [117]:
#Khan numbers
Khan = data.loc[data["Candidate"]=="Khan"]
Khan_count = Khan["Candidate"].count()
Khan_percent = (Khan_count/total*100).round(2)

#Correy numbers
Correy = data.loc[data["Candidate"]=="Correy"]
Correy_count = Correy["Candidate"].count()
Correy_percent = (Correy_count/total*100).round(2)

#Li numbers
Li = data.loc[data["Candidate"]=="Li"]
Li_count = Li["Candidate"].count()
Li_percent = (Li_count/total*100).round(2)

#O'Tooley numbers
OT = data.loc[data["Candidate"]=="O'Tooley"]
OT_count = OT["Candidate"].count()
OT_percent = (OT_count/total*100).round(2)

In [ ]:
#Blanking out on how to calculate the winner based on the way I wrote things
#In retrospect I probably should created a dataframe and grouped by candidate then
#figured out the max count and used iloc to grab the row where the max value is

In [119]:
print("Election Results")
print("-------------------")
print(f"Total votes: {total}")
print(f"Khan: {Khan_percent}% ({Khan_count})")
print(f"Correy: {Correy_percent}% ({Correy_count})")
print(f"Li: {Li_percent}% ({Li_count})")
print(f"O'Tooley: {OT_percent}% ({OT_count})")
print("-------------------")

Election Results
-------------------
Total votes: 3521001
Khan: 63.0% (2218231)
Correy: 20.0% (704200)
Li: 14.0% (492940)
O'Tooley: 3.0% (105630)

In [49]:
total

'3521001'